html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: $grey;
}
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
button:focus,
input:focus {
  outline: transparent;
}
a{
	display: inline-block;
	text-decoration: none;
	color: $grey;
}
.container{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}